html, body{
    width: 100wv;
    height: 100hv;
    background-color: #ff7ffe;
}

.main-layout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: left;
}

.row-layout{
    display: flex;
    flex-direction: row;
    column-gap: 10px;

}

.hidden-item{
    width: 25%;
    height:  100px;
    overflow: hidden;
    background-color: lightgray;
}

.visible-item{
    overflow-y: scroll;
    border-top: 5px solid black;
    border-bottom:5px solid black;
    width: 100%;
    height: 100px;
    font-weight: bold;
}

